/* regola reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*regole root*/
:root {
    --primary-color: #3684fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-light: #cbc9f1;
    --text-color: #000;
    --white-color: #fff;
    --gray-color: #333;
    --yellow-color: #fbc15f;
}

/*regole debug*/
.debug .box{
    height: 80px;
    padding: 1rem;
    background-color: var(--primary-color-light);
}


/* regole comuni*/
.container{
    max-width: 600px;
    margin: auto;
}
.flex {
    display:flex;
}
.space-between {
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.padx-2 {
    padding: 0 2rem;
}

/*regole header*/ 
.site-header{
    background-color: var(--primary-color);
    width: 100%;
    margin-bottom: 3rem;
}


/*regole intro*/
#intro .card{
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: var(--primary-color-light);
    border-radius: 30px;
}

/*regole planning*/
#planning{
    background-color: var(--secondary-color);
    padding-top: 6rem;
    padding-bottom: 4rem;
}
#planning .column{
    margin:2rem;
}

/*regole testimonial*/
#testimonial .card{
    padding: 2rem;
    background-color: var(--secondary-color);
    margin-bottom: 2rem;
}
#testimonial .card-image{
    margin: 1rem;
}

/*regole benefits*/
#benefits{
    background-color: var(--secondary-color);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#benefits .card {
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: var(--primary-color-light);
    border-radius: 30px;
}
/*media query*/
/*TABLET*/
@media screen and (min-width: 768px) {
    .container{
        max-width: 750px;
    }
    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card{
        width: calc(33.3333% - 1.5rem);
        
    }
    #intro .card:first-child{
        width: calc(66.6666% - 1.5rem);
    }
    #testimonial .card{
        display:flex;
    }
    #testimonial .card-text{
        flex-grow: 1;
    }
    #testimonial .card-image{
        flex-shrink: 0;
        margin: 0 4rem 0 0;
    }
    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
    }
    #benefits .card{
        width: calc(50% - 1.5rem);
    }
}
/*DESKTOP*/
@media screen and (min-width: 992px) {
    .container{
        max-width: 940px;
    }
    #intro .card:first-child{
        display: flex;
    }
    #intro .card:first-child .box{
        width: 50%;
        height: 100%;
    }
    #planning .columns{
        display:flex;
        align-items:flex-end;
    }
    #planning .column{
        width: calc(50% - 4rem);
    }
    #benefits .card{
        width: calc(33.333% - 1.5rem);
    }
}
/*DESKTOP GRANDE*/
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}