/* regola reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*regole root*/
:root {
    --primary-color: #3684fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-light: #cbc9f1;
    --text-color: #000;
    --white-color: #fff;
    --gray-color: #333;
    --yellow-color: #fbc15f;
}

/*regole debug*/
.debug .box{
    height: 80px;
    padding: 1rem;
    background-color: var(--primary-color-light);
}


/* regole comuni*/
html{
    font-family: sans-serif;
}
.container{
    max-width: 600px;
    margin: auto;
}
.flex {
    display:flex;
}
.space-between {
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.padx-2 {
    padding: 0 2rem;
}
.text-white {
    color: var(--white-color);
}
.text-black {
    color: var(--text-color);
}
.text-blue {
    color: var(--primary-color);
}
.text-violet {
    color: var(--secondary-color);
}
.btn {
    padding: 0.5rem;
    border-radius: 15px;
    text-decoration: none;
}
.btn-white{
    background-color: #fff;
}
.btn-blue{
    background-color: var(--primary-color);
}
.btn-violet{
    background-color: var(--secondary-color);
}
.text-center{
    text-align: center;
}
.backgr-white{
    background-color: var(--white-color);
}


/*regole header*/ 
.site-header{
    background-color: var(--primary-color);
    width: 100%;
    margin-bottom: 3rem;
}
.site-header ul{
    list-style-type: none;
}
.site-header ul li .text-white{
    text-decoration: none;
    padding: 1rem;
}
.site-header img{
    padding: 1rem 0;
}
.site-header ul{
    display: none;
}
.site-header i{
    color: var(--white-color);
}


/*regole intro*/
#intro .card{
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: var(--primary-color-light);
    border-radius: 30px;
}
#intro .info{
    padding: 1.5rem;
}
#intro .text-black{
    margin: 2rem 0rem;
    line-height: 30px;
}
#intro .text-center .text-black{
    padding: 0 15px;
}
#intro .cards:not:first-child{
    padding-bottom: 2rem;
}
#intro .btn a {
    padding: 5px 60px;
    text-decoration: none;
}
#intro .btn a .text-white{
    margin-right: 5px;
}
#intro .text-blue{
    font-size: 25px;
    margin-top:2rem;
}
#intro .img img {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
}
#intro .card .text-center i{
    font-size: 70px;
    margin-top: 2rem;
}
#intro .small-card{
    padding-bottom: 2rem;
}

/*regole planning*/
#planning{
    background-color: var(--secondary-color);
    padding-top: 6rem;
    padding-bottom: 4rem;
}
#planning .column{
    margin:2rem;
    border-radius: 2rem;
}
#planning .img-container img {
    width: 100%;
}
#planning .column h2{
    margin: 4rem 0;
    font-size: 40px;
}
#planning .column p{
    line-height: 1.7rem;
    margin-bottom: 1rem;
    padding: 0px 20px;
}
#planning .planning2{
    width: 100%;
    padding: 1rem;
}  
#planning .text-black{
    font-size: 20px;
    margin-bottom: 20px;
}
#planning .circle-container{
    margin: 20px auto;
    padding:40px;
}
#planning .circle{
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 50%;
}


/*regole testimonial*/
#testimonial .card{
    padding: 2rem;
    background-color: var(--secondary-color);
    margin: 2rem;
    border-radius: 2rem;
}
#testimonial .card-image{
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    margin: auto;
}
#testimonial h2 {
    font-size: 30px;
    margin: 2rem auto;
}
#testimonial p {
    margin-bottom:2rem;
    line-height: 25px;
}
#testimonial img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
#testimonial .card-text{
    margin: 2rem auto;
}
#testimonial .card-text p{
    line-height: 25px;

}


/*regole benefits*/
#benefits{
    background-color: var(--secondary-color);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#benefits .card {
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: var(--white-color);
    border-radius: 30px;
    padding: 30px 20px;
}
#benefits h2 {
    font-size: 30px;
    margin: 0 auto 2rem auto;
}
#benefits h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
#benefits h4 {
    font-size: 22px;
    margin-bottom: 20px;

}
#benefits p {
    line-height: 30px;
    margin-bottom: 20px;
}
#benefits .btn {
    padding: 5px 25px;
}


/*regole about us*/
#aboutus{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#aboutus .card{
    margin-left: 1rem;
    margin-right: 1rem;
}
#aboutus .card:first-child{
    margin-bottom: 1rem;
}
#aboutus h2 {
    font-size: 30px;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
#aboutus p {
    line-height: 30px;
    margin-bottom: 40px;
}

#aboutus .card-image{
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}
#aboutus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
#aboutus .phrase{
    line-height: 35px;
    font-size: 26px;
}
/*media query*/
/*TABLET*/
@media screen and (min-width: 768px) {
    .container{
        max-width: 750px;
    }

    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card{
        width: calc(33.3333% - 1.5rem);
        
    }
    #intro .card:first-child{
        width: calc(66.6666% - 1.5rem);
    }
    #intro .img {
        margin-left: -50px;
    }
    
    #testimonial .card{
        display:flex;
        align-items: center;
    }
    #testimonial .card-text{
        flex-grow: 1;
    }
    #testimonial .card-image{
        flex-shrink: 0;
        margin: 0 4rem 0 0;
    }

    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
    }
    #benefits .card{
        width: calc(50% - 1.5rem);
    }

    #aboutus .container{
        display: flex;
    }
    #aboutus .card{
        width: calc(50% - 1.5rem);
    }
}
/*DESKTOP*/
@media screen and (min-width: 992px) {
    .container{
        max-width: 940px;
    }

    .site-header ul {
        display: flex;
    }
    .site-header i{
        display: none;
    }

    #intro .card:first-child{
        display: flex;
    }
    #intro .card:first-child .box{
        width: 50%;
        height: 100%;
    }
    #intro .img{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 40px;
    }

    #planning .columns{
        display:flex;
        align-items:flex-end;
    }
    #planning .column{
        width: calc(50% - 4rem);
    }

    #benefits .card{
        width: calc(33.333% - 1.5rem);
    }
    
    #aboutus .card:first-child {
        width: calc(80% - 1.5rem);
    }
    #aboutus .card:last-child {
        width: calc(20% - 1.5rem);
        
}
/*DESKTOP GRANDE*/
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}